@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Orbitron", sans-serif;
  position: relative;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}
.night{
  background-image: url("space.jpg");
  background-size: cover;
  background-position: center center;
}
.sunrise{
  background-image: url("sunrise.jpg");
  background-size: cover;
  background-position: center center;
}
/*body::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}*/
body * {
  z-index: 100;
}
.container-out {
  border: 10px solid gray;
  background-color: #FFDEE9;
background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);

  padding: 20px;
  width: 800px;
  height: 400px;
  text-align: center;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
}
.container-in {
  border: 4px solid gray;
  width: 90%;
  height: 85%;
  margin: 0 auto;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 72px;
  padding: 5px 12px;
  /*box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);*/
  letter-spacing: 5px;
}
